@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

.landingPage {
  background-image: url('./images/steak_dinner.jpg'), url('./images/grass-field1.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.navigationBar {
  padding: 0.75em;
  background-color: rgb(252, 249, 245);
  color: rgb(135, 137, 114);
}
.catalogPage {
  background-color: rgb(252, 249, 245);
}
.productTitle {
  display: block;
  margin-top: 4px;
  color: #007580;
  font-size: 21px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.productPrice {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgb(151, 150, 150);
}
.productDescription {
  font-size: 0.875em;
  text-align: center;
  margin-top: 4px;
}
.productDetailsDescription {
  font-size: 0.875em;
  text-align: left;
  margin-top: 4px;
}
.productDetailsTitle {
  font-size: 1.875em;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #626545;
}
.productDetailsPrice {
  font-size: 1.125em;
  font-weight: 400;
  font-family: 'Lato', Arial, sans-serif;
  color: #818185;
}
.addToCartButton {
  padding: 8px 64px;
  background: #007580;
  color: #fff;
  border: 0;
  font-size: 0.75em;
  font-family: 'Lato', Arial, sans-serif !important;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.catalogHeader {
  font: 'Lato', Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #626545;
  font-size: 2.25em;
}
.catalogBanner {
  display: relative;
  width: 100%;
}
.bannerText {
  position: absolute;
  color: #fff;
}
/* .headerBar {
  background-color: darkolivegreen;
  color: #fff;
} */
.shippingHeader {
  background-color: rgb(1, 106, 117);
  color: rgb(173, 205, 207);
  font-family: 'Lato', sans-serif;
}
.navBarImg {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: -45px;
}
.navBarHeader {
  background-color: rgb(38, 40, 35);
  color: rgb(213, 202, 163);
}
.orderSummary {
  left: 10em;
  color: #fff;
}
.pointer-hover {
  cursor: pointer;
}
.quantityBadge {
  position: absolute;
  top: -0.5em;
  right: 4em;
}
.checkout {
  position: absolute;
  background: linear-gradient(to right, rgb(252, 248, 242) 60%, rgb(54, 60, 27) 0%);
  height: 100vh;
  width: 100vw;
}
.carousel-item > img {
  width: 100vw;
  height: 100vh;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
