@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.landingPage {
  background-image: url('./images/steak_dinner.jpg'), url('./images/grass-field1.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.navigationBar {
  padding: 0.75em;
  background-color: rgb(252, 249, 245);
  color: rgb(135, 137, 114);
}
/* .headerBar {
  background-color: darkolivegreen;
  color: #fff;
} */
.shippingHeader {
  background-color: rgb(1, 106, 117);
  color: rgb(173, 205, 207);
  font-family: 'Lato', sans-serif;
}
.navBarImg {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: -45px;
}
.navBarHeader {
  background-color: rgb(38, 40, 35);
  color: rgb(213, 202, 163);
}
.pointer-hover {
  cursor: pointer;
}
.quantityBadge {
  position: absolute;
  top: -0.5em;
  right: 4em;
}
.checkout {
  background: linear-gradient(to right, rgb(252, 248, 242) 50%, rgb(54, 60, 27) 0%);
  height: 100vh;
  width: 100vw;
}
